<section class="bg-light py-5 py-xl-8 py-xxl-18" id="sobremi">
    <div class="container overflow-hidden">
        <div class="row gy-5 gy-lg-0 align-items-lg-center justify-content-lg-between">
            <div class="col-12 col-lg-6 order-1 order-lg-0">
                <h1 class="display-3 fw-bold mb-3">Hola, soy <mark>Damián Morais</mark></h1>
                <p class="fs-4 mb-5">Un canalsense como vos comprometido con nuestro futuro. Estoy convencido que juntos codo a codo trabajando en equipo podemos cambiar la realidad.</p>

            </div>
            <div class="col-12 col-lg-5 text-center">
                <img class="img-fluid cardimg"
                    src="https://i.postimg.cc/DzKL1N79/DSCN1520.jpg" alt="" >
            </div>
        </div>
    </div>
</section>