<div class="tabs" id="lista">
    <!-- Radio button and lable for #tab-content1 -->
    <input type="radio" name="tabs" id="tab1" checked>
    <label for="tab1">
        <span><p class="textsize">Intendente</p></span>
    </label>
    <!-- Radio button and lable for #tab-content2 -->
    <input type="radio" name="tabs" id="tab2">
    <label for="tab2">
        <span><p class="textsize">Consejales</p></span>
    </label>
    <!-- Radio button and lable for #tab-content3 -->
    <input type="radio" name="tabs" id="tab3">
    <label for="tab3">
        <span><p class="textsize">Tribunal</p></span>
    </label>
    <div id="tab-content1" class="tab-content">
        <img class="img-fluid" src="https://i.postimg.cc/h48GcyD4/Damian.png" >
    </div> <!-- #tab-content1 -->
    <div id="tab-content2" class="tab-content">
        <img class="img-fluid" src="https://i.postimg.cc/jdsS5H2H/Consejales.png" >
    </div> <!-- #tab-content2 -->
    <div id="tab-content3" class="tab-content">
        <img  class="img-fluid" src="https://i.postimg.cc/1XKRBtCV/Tribunal.png" >
    </div> <!-- #tab-content3 -->
</div>