<h1 class="display-6 fw-bold mb-5" style="text-align: center;"><mark id="propuestas">Nuestras propuestas</mark></h1>
<div class="container align-items-lg-center justify-content-lg-between img-fluid">
    <div class="card">
        <div class="face face1">
            <div class="content img-fluid">
                <img src="https://i.postimg.cc/Bbwq5fzx/imagen-2023-05-22-230048751.png" alt="" width="298px">
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p class="fw-bold" style="font-size: 18px;">Para mejorar la transparencia y la participación ciudadana en el
                    gobierno local de Canals.</p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="face face1">
            <div class="content img-fluid">
                <img src="https://i.postimg.cc/Kz8jtfzh/Logo-s.png" alt="" width="298px">
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p class="fw-bold" style="font-size: 18px;">La seguridad es una preocupación fundamental para la
                    ciudadanía de Canals.</p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="face face1">
            <div class="content img-fluid">
                <img src="https://i.postimg.cc/nLkMsgn1/Logo-op.png" alt="" width="298px">
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p class="fw-bold" style="font-size: 15px;">Consideramos importante acelerar la
                    masificación de las obras de gas y cloacas que han quedado
                    retrasadas en la ciudad. Estas obras son necesarias para mejorar
                    la calidad de vida de los habitantes y garantizar el acceso a
                    servicios básicos.</p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="face face1">
            <div class="content img-fluid">
                <img src="https://i.postimg.cc/HkbrmjKR/Logo-salud.png" alt="" width="298px">
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p class="fw-bold" style="font-size: 18px;">La atención médica y la salud pública son temas prioritarios en
                    cualquier comunidad, y Canals no es la excepción.</p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="face face1">
            <div class="content img-fluid">
                <img src="https://i.postimg.cc/0QXQnSMM/Logo-edu.png" alt="" width="298px">
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p class="fw-bold" style="font-size: 15px;">La educación es un tema fundamental para el desarrollo de una
                    comunidad, por lo que en Canals proponemos mejorar la oferta educativa y hacerla más inclusiva y
                    accesible.</p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="face face1">
            <div class="content img-fluid">
                <img src="https://i.postimg.cc/pdxpLRMT/Logo-amb.png" alt="" width="298px">
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p class="fw-bold" style="font-size: 18px;">En Canals, proponemos una serie de medidas para mejorar el
                    cuidado del medio ambiente y la calidad de vida de sus
                    habitantes.</p>
            </div>
        </div>
    </div>

</div>