<!--<div class="container" id="comunicate">
    <div class="content">
        <div class="left-side">
            <a href="#" style="text-decoration: none; color: black;">
                <div class="address details">
                    <i class="fas fa-map-marker-alt"></i>
                    <div class="topic">Dirección física del local</div>
                    <div class="text-one"></div>
                    <div class="text-two"></div>
                </div>
            </a>

            <a href="https://wa.me/5493463647291" target="_blank" style="text-decoration: none; color: black;">
                <div class="phone details">
                    <i class="fa-brands fa-whatsapp"></i>
                    <div class="topic">WhatsApp</div>
                    <div class="text-one">+54 9 3463 64-7291</div>
                </div>
            </a>

            <a href="#" style="text-decoration: none; color: black;">
                <div class="email details">
                    <i class="fa-solid fa-envelope"></i>
                    <div class="topic">Email</div>
                    <div class="text-one">@gmail.com</div>
                </div>
            </a>

            <a href="https://instagram.com/jxc_canals?igshid=MzRlODBiNWFlZA==" target="_blank" style="text-decoration: none; color: black;">
                <div class="insta details">
                    <i class="fa-brands fa-instagram"></i>
                    <div class="topic">Instagram</div>
                    <div class="text-one">JuntosxCanals</div>
                </div>
            </a>
            <a href="https://www.facebook.com/JuntosporelcambioCanals/?mibextid=ZbWKwL" target="_blank" style="text-decoration: none; color: black;">
                <div class="face details">
                    <i class="fa-brands fa-facebook"></i>
                    <div class="topic">Facebook</div>
                    <div class="text-one">JuntosxCanals</div>
                </div>
            </a>
        </div>

    </div>
</div>-->

<div id="social-platforms">
    <h1 class="display-6 fw-bold mb-5" style="text-align: center;"><mark id="comunicate">Nuestras redes</mark></h1>
    <a class="btn btn-icon btn-facebook" href="https://www.facebook.com/JuntosporelcambioCanals/?mibextid=ZbWKwL" target="_blank"><i class="fa-brands fa-facebook"></i><span>Facebook</span></a>
    <a class="btn btn-icon btn-twitter" href="https://instagram.com/jxc_canals?igshid=MzRlODBiNWFlZA==" target="_blank"><i class="fa-brands fa-instagram"></i><span>Instagram</span></a>
    <a class="btn btn-icon btn-googleplus" href="#"><i class="fa-solid fa-envelope"></i><span>Email</span></a>
    <a class="btn btn-icon btn-pinterest" href="https://wa.me/5493463647291" target="_blank" ><i class="fa-brands fa-whatsapp"></i><span>WhatsApp</span></a>
</div>
    